<div class=" container justify-center">
    <div class=" bg-gray-300 w-[560px] container">
        <h1 class="text-[70px] text-center uppercase mt-8  ">
            Stone Store
        </h1>
    </div>
    <div class="grid grid-cols-3 container text-xl p-6">
        <div class="  px-12">
            <h1 class="  text-2xl">Компания</h1>
            <div>
                <p class=" py-2">Контакты</p>
                <p class=" py-2">О нас</p>
                <p class=" py-2">Сотрудничество</p>
            </div>
        </div>
        <div class="  px-12">
            <h1 class=" pb-4 text-2xl">Клиенту</h1>
            <div>
                <p class=" py-2">Доставка и оплата</p>
                <p class=" py-2">Условия обмена и возврата</p>
            </div>
        </div>
        <div class="  px-12">
            <h1 class=" pb-4 text-2xl">Информация</h1>
            <div>
                <p class=" py-2">Политика конфиденциальности</p>
                <p class=" py-2">Пользовательское соглашение</p>
            </div>
        </div>
    </div>

</div>

<div class=" py-2 bg-stone-200">
    <h1 class=" text-center">ⓒ Stone Store Industries, 2020 — 2022. Все права защищены.</h1>
</div>