<h1 class="text-2xl mid mb-10 mt-10">Products</h1>
<div class="fl">
  <div *ngFor="let product of products" class="transition duration-150 hover:scale-[110%]  card w-96 bg-base-100 shadow-xl mx-5">
      <img [src]="product.picture" class="max-h-40 w-full object-contain"  [routerLink]="['/products', product.id]"/>
      <div class="bg-white  w-full p-4" [routerLink]="['/products', product.id]">
        <p class="text-indigo-500 text-md font-medium"></p>
        
        <p class="text-gray-800 text-xl font-medium mb-2">
          {{ product.title }}
        </p>

        <p class="text-gray-400 dark:text-gray-300 font-light text-md">
          price: {{ product.price }}
        </p>
        <p class="text-gray-400 dark:text-gray-300 font-light text-md">
          RAM: {{ product.spec.RAM }}
        </p>
        <p class="text-gray-400 dark:text-gray-300 font-light text-md">
          ROM:{{ product.spec.ROM }}
        </p>
        <button (click)="addToCart(product.id)">add to cart</button>
      </div>
  </div>

  <!-- <p>id: {{ product.id }}</p> -->

  <br />
</div>
<router-outlet></router-outlet>
