.hi {
    display: flex;
    flex-direction: column;
      align-items: center;
  }
  .hi h1 {
        color: black;
      font-size: 53.5px;
      text-transform: uppercase;
      margin: 0px;
      font-weight: lighter;
      margin-top: 64px;
  }
  .hi h2{
    color: #ff8a00;
      font-weight: lighter;
  }
.stonebg {
  background-image: url('../../assets/stone2.png');

}
.giftbox {
  background-image: url('../../assets/giftbox.webp');
  background-size: 384px 384px;
}
.giftbox:hover {
  background-image: url('../../assets/stonegiftbox.png');
  background-size: 384px 384px;
  transition: all 0.5s;
}