
    <div class="h-screen">
      <div class="flex justify-center container mx-auto my-auto  pt-8">
        <h1 class=" text-4xl uppercase absolute hi font-bold">Stone for u</h1>
        <img class="  w-[550px] pt-16" src="../../assets/stoneqwe.png" alt="">
      </div>
    </div>




<section class="p-6 dark:bg-gray-800 dark:text-gray-100">
  <div class="container mx-auto">
    <h2 class="text-5xl font-bold text-center dark:text-gray-50">Камни на любой выбор!</h2>
    <div class="grid gap-6 my-16 lg:grid-cols-3">
      <div class="flex flex-col p-8 space-y-4 rounded-md dark:bg-gray-900">
        <p class="text-2xl font-semibold">
          <b class="pr-2">Безопасность</b>Наши камни на 100% сделаны из камня.
        </p>
      </div>
      <div class="flex flex-col p-8 space-y-4 rounded-md dark:bg-gray-900">
        <p class="text-2xl font-semibold">
          <b class="pr-2">Обширность</b>Камни любого сорта и вкуса, на ваш выбор.
        </p>
      </div>
      <div class="flex flex-col p-8 space-y-4 rounded-md dark:bg-gray-900">
        <p class="text-2xl font-semibold">
          <b class="pr-2">Гарантия</b>Покупая у нас вы имеете 5 летнию гарантию на любую покупку в нашем магазине.
        </p>
      </div>
    </div>
  </div>
</section>

<div class=" stonebg h-[900px]">
  <div class="">

    <div class=" pb-12">
      <h1 class="text-5xl font-bold text-center text-stone-800 py-4">Мы в сотрудничаем с Microsoft</h1>
      <p class=" text-center text-2xl font-medium py-2 text-stone-800">Совместно с Microsoft мы разрабатываем текстуры камней в Minecraft для вашего гейминга</p>
      <h1 class="text-5xl font-bold text-center text-stone-800 py-4">наши разработки</h1>
    </div>

    <div>
        <div class="container grid grid-cols-3 gap-5 mx-auto"> 
              <div class=" bg-white rounded-2xl w-96 h-[px]">
                <h1 class=" text-3xl text-center pt-6 pb-3 font-medium  ">Камень</h1>
                <img class=" mx-auto" src="../../assets/stoneGrid/stone1.webp" alt="">
                <div class=" p-2">
                  <p class=" text-2xl">Это самый первый камень, наша гордость самый красивый камень.</p>
                </div>
              </div>
              <div class=" bg-white rounded-2xl w-96 h-[px]">
                <h1 class=" text-3xl text-center pt-6 pb-3 font-medium ">Адский камень</h1>
                <img class=" mx-auto" src="../../assets/stoneGrid/stone3.webp" alt="">
                <div class=" p-2">
                  <p class=" text-2xl">Это наш 2 камень. он очень крутой и сделан из адского камня.</p>
                </div>
              </div>
              <div class=" bg-white rounded-2xl w-96 h-[px]">
                <h1 class=" text-3xl text-center pt-6 pb-3 font-medium ">Глубинный сланец</h1>
                <img class=" mx-auto" src="../../assets/stoneGrid/stone2.webp" alt="">
                <div class=" p-2">
                  <p class=" text-2xl"> он глубоговодный сланец, и обидает на глубине в 100 блоков. Не смотря на то что он сланец, он все еще кам Крутой! </p>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>

<div class=" container mx-auto flex h-[900px]">
  <div class="container w-96 h-96 giftbox mx-auto my-auto">

  </div>
  <div class=" my-auto mx-auto  ">
    <h1 class=" text-4xl">Хотите купить подарок вашему любимому человеку, <br><b class=" p-1"> купите камень.</b></h1>
  </div>
</div>
